body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a73dc;
}

#app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 6px solid #4f46e5;
}

.section h2,
.section h3 {
  margin-top: 0;
  color: #4f46e5;
}

#eventList li {
  list-style: none;
  padding: 10px;
  margin: 8px 0;
  background-color: #eef2ff;
  border-radius: 6px;
  cursor: pointer;
}

#eventList li:hover {
  background-color: #c7d2fe;
}

#details {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ecfeff;
  border-left: 5px solid #06b6d4;
  border-radius: 6px;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background-color: #22c55e;
  color: white;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}
/* Section hover effect */
.section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 6px solid #4f46e5;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.section:hover {
  background-color: #0b96f3;   /* light blue */
  transform: translateY(-3px);
}
